@use "../../styles/variables" as *;

.header {
  display: block;
  background-color: $primary-color-100;

  &__main {
    display: flex;
    width: 100%;
    height: 96px;
    padding: 1.5rem;
    justify-content: space-between;
    align-items: center;
  }

  &__button {
    background-color: inherit;
    border: none;
  }

  &__menu {
    position: absolute;
    z-index: 2;
    width: 100%;
    background-color: $primary-color-900;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    padding: 3rem 1.5rem;
    border: none;
  }

  &__link {
    color: $primary-color-100;
    height: 25px;
    font-size: 24px;
    text-transform: uppercase;
    text-align: start;
    letter-spacing: 2px;
    font-weight: 400;
  }
}
