.button {
  background-color: $primary-color-100;
  color: $primary-color-900;
  text-transform: uppercase;
  font-family: var(--font-jost);
  font-weight: 500;
  letter-spacing: 1px;
  padding: 1rem 1.5rem;
  border-radius: 8px;
}
