.overlay {
  background: linear-gradient(
    to top,
    $primary-color-900 0%,
    $primary-color-900 50%,
    $primary-color-100 50%,
    $primary-color-100 100%
  );
  width: 100%;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    background-color: $primary-color-400;
    color: $primary-color-100;
    margin: 0 1.5rem;
    padding: 4.5rem 1.5rem;
    border-radius: 8px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin-bottom: 32px;
  }

  &__title {
    color: $primary-color-100;
  }
}
