.overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  background-color: $primary-color-400;
  color: $primary-color-100;
  margin: 1.5rem;
  padding: 3rem 1.5rem;
  border-radius: 8px;

  &__text {
    display: flex;
    flex-direction: column;

    row-gap: 12px;
    margin-bottom: 32px;
  }

  &__title {
    color: $primary-color-100;
  }
}
