.principles {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 1rem;
  row-gap: 80px;
}

.principle {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 48px;
}

.principleImage {
  position: relative;
  width: 202px;
  height: 202px;
}

.principleBackgroundImage {
  position: absolute;
  inset: 0;
  background-image: url('/home/bg-pattern-small-circle.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: -1;
}

.principle:nth-child(2) .principleBackgroundImage {
  transform: rotate(-90deg);
}

.principle:nth-child(3) .principleBackgroundImage {
  transform: rotate(90deg);
}

.principleForegroundImage {
  position: relative;
  z-index: 1;
}

.principleDescription {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.principleName {
  text-transform: uppercase;
}
