.home {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    height: calc(640px + 12rem);
    width: 100%;
    
    background-image: url('/home/bg-pattern-hero-home.svg');
    background-size: 640px 640px;
    background-repeat: no-repeat;
    background-position: 0 90px;
    padding: 0 1rem;
    background-color: orange;

    overflow: hidden;
  }

  &__introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
    gap: 24px;
    color: white;
    font-size: 15px;
    z-index: 1;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  &__title {
    font-size: 32px;
  }

  &__button {
    background-color: white;
    color: black;
    border-style: none;
    border-radius: 8px;
    text-transform: uppercase;
    padding: 1rem;
    font-weight: bold;
  }

  &__phoneImg {
    position: relative;
    bottom: 150px;
  }

  &__next {
    background-color: white;
    color: black;
  }
}
