.home {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    height: calc(640px + 12rem);
    width: 100%;

    background-image: url('/home/bg-pattern-hero-home.svg');
    background-size: 640px 640px;
    background-repeat: no-repeat;
    background-position: 0 90px;
    padding: 0 1rem;
    background-color: $primary-color-400;

    overflow: hidden;
  }

  &__introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
    gap: 24px;
    color: $primary-color-100;
    font-size: 15px;
    z-index: 1;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  &__title {
    font-size: 32px;
  }

  &__button {
    background-color: $primary-color-100;
    color: $primary-color-900;
    border-style: none;
    border-radius: 8px;
    text-transform: uppercase;
    padding: 1rem;
  }

  &__phoneImg {
    position: relative;
    bottom: 150px;
  }

  &__next {
  }
}
