@use '../../styles/variables.scss' as *;

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 120px;
  margin-bottom: 120px;

  @include tablet {
    margin: 0 3rem;
  }

  @include desktop {
    margin: 0 9rem;
  }
}
