@use '../../styles/variables.scss' as *;

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  row-gap: 120px;
  margin-bottom: 120px;
  width: 100%;

  @include tablet {
    padding: 0 3rem;
  }

  @include desktop {
    padding: 0 9rem;
    row-gap: 160px;
  }
}
