.header {
  display: block;
  background-color: white;

  &__main {
    display: flex;
    width: 100%;
    height: 96px;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
  }

  &__button {
    background-color: inherit;
    border: none;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 1rem;
    width: 100%;
    background-color: black;
    border: none;
    z-index: 2;
  }

  // &__links {
  //   height: 25px;
  //   text-transform: capitalize;
  // }
}
