@use '../../../styles/variables' as *;

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: calc(640px + 12rem);
  width: 100%;

  background-image: url('/home/bg-pattern-hero-home.svg');
  background-size: 640px 640px;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: 6rem;
  background-color: $primary-color-400;

  overflow: hidden;

  @include tablet {
    background-position-x: 15rem;
    background-position-y: 6rem;
    border-radius: 15px;
  }

  @include desktop {
    flex-direction: row;
    align-items: center;

    height: 640px;
    background-position-x: right;
    background-position-y: center;
    border-radius: 15px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 1.5rem;

  color: $primary-color-100;
  z-index: 1;

  @include tablet {
    padding: 3rem;
    gap: 1rem;
  }

  @include desktop {
    width: 540px;
    align-items: flex-start;
    text-align: left;
  }
}

.text {
  display: flex;
  flex-direction: column;
  gap: 14px;

  @include desktop {
    gap: 11px;
  }
}

.title {
  color: $primary-color-100;
  // font-size: 32px;
}

.phoneImg {
  position: relative;
  bottom: 11rem;
}
