@use '../../../styles/variables' as *;

.blockLink {
  background-color: $tertiary-color-900;
  color: $primary-color-100;
  border-radius: 8px;
  width: 100%;
  height: 250px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: 12px;

  font-family: var(--font-jost);
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 5px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $secondary-color-400;
    color: $primary-color-100;
    transition-duration: 0.3s;
  }
  @include tablet {
    height: 200px;
    row-gap: 24px;
    border-radius: 15px;
  }
  @include desktop {
    height: 100%;
    row-gap: 24px;
    border-radius: 15px;
  }
}

.title {
  color: $primary-color-100;
}

.icon {
  margin-left: 16px;
}
