.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
  padding: 4rem 1.5rem;

  background-color: $primary-color-900;
  color: $primary-color-100;
  width: 100%;

  &__line {
    width: 100%;
    background-color: $tertiary-color-900;
    border: none;
    height: 0.5px;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
  }

  &__link {
    color: $primary-color-100;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &__address {
    text-align: center;
    font-style: normal;
    opacity: 49%;

    &::first-line {
      font-weight: 700;
    }
  }

  &__contactLink {
    color: $primary-color-100;
  }
}
