@use '../../../styles/variables' as *;

.header {
  background-color: $primary-color-100;
  width: 100%;
  height: 155px;

  @include mobile {
    padding: 0 1.5rem;
    height: 96px;
  }

  @include tablet {
    padding: 0 3rem;
  }

  @include desktop {
    padding: 0 9rem;
  }
}

.content {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.headerButton {
  background-color: inherit;
  border: none;
}

.menu {
  position: absolute;
  z-index: 2;
  width: 100%;
  background-color: $primary-color-900;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
  padding: 3rem 1.5rem;
  border: none;
}

.menuLink {
  color: $primary-color-100;
  height: 25px;
  font-size: 24px;
  text-transform: uppercase;
  text-align: start;
  letter-spacing: 2px;
  font-weight: 400;
}
