@use "../../styles/variables" as *;

.buttonLink {
  text-transform: uppercase;
  font-family: var(--font-jost);
  font-weight: 500;
  letter-spacing: 1px;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;

  &--primary {
    background-color: $primary-color-100;
    color: $primary-color-900;
  }

  &--secondary {
    background-color: $primary-color-400;
    color: $primary-color-100;
  }

  &:hover,
  &:focus {
    background-color: $secondary-color-400;
    color: $primary-color-100;
    transition-duration: 0.3s;
  }
}
