//to rewrite

$primary-color-peach: #E7816B;
$primary-color-black: #1D1C1E;
$primary-color-white: #FFFFFF;

$secondary-color-light-peach: #FFAD9B;
$secondary-color-dark-grey: #333136;
$secondary-color-light-grey: #F1F3F5;
