//to rewrite

$primary-color-100: #ffffff; // white
$primary-color-400: #e7816b; // peach
$primary-color-900: #1d1c1e; // black

$secondary-color-100: #f1f3f5; // light grey
$secondary-color-400: #ffad9b; // light peach
$secondary-color-900: #333136; // dark grey

$tertiary-color-900: #979797; // light grey
