//to rewrite

$primary-color-100: #FFFFFF; // white
$primary-color-400: #E7816B; // peach
$primary-color-900: #1D1C1E; // black

$secondary-color-100: #F1F3F5; // light grey
$secondary-color-400: #FFAD9B; // light peach
$secondary-color-900: #333136; // dark grey
