@use 'variables' as *;

:root {
  --background: $primary-color-100;
  --foreground: $primary-color-900;
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --background: #0a0a0a;
//     --foreground: #ededed;
//   }
// }

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // p
  font-family: var(--font-jost), sans-serif;
  color: $secondary-color-900;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  align-items: flex-start;

  @include mobile {
    font-size: 15px;
    line-height: 25px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  color: $primary-color-900;
  font-weight: 500;
  font-size: 32px;
  line-height: 36px;
  align-items: flex-start;

  @include tablet-and-desktop {
    font-size: 48px;
    line-height: 48px;
  }
}

h2 {
  color: $primary-color-900;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 1.4px;
  align-items: flex-start;

  @include tablet-and-desktop {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 2px;
  }
}

h3 {
  color: $secondary-color-900;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 5px;
  font-weight: 500;
  align-items: flex-start;
}

a {
  color: $primary-color-400;
  text-decoration: none;
  align-items: flex-start;
}

button {
  background-color: $primary-color-100;
  border-style: none;
  font-size: 15px;
  letter-spacing: 1px;
  align-items: flex-start;

  cursor: pointer;
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
// }
