:root {
  --background: $primary-color-100;
  --foreground: $primary-color-900;
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --background: #0a0a0a;
//     --foreground: #ededed;
//   }
// }

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: var(--font-jost), sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: $secondary-color-900;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  color: $primary-color-900;
  font-size: 32px; // 48px;
  line-height: 36px; // for bigger 48px;
  font-weight: 500;
}

h2 {
  color: $primary-color-900;
  font-size: 28px; // for bigger 40px;
  line-height: 36px; // for bigger 48px;
  letter-spacing: 1.4px; // 2px;
  font-weight: 500;
}

h3 {
  color: $secondary-color-900;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 5px;
  font-weight: 500;
}

a {
  color: $primary-color-400;
  text-decoration: none;
}

button {
  background-color: $primary-color-100;
  border-style: none;
}
// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
// }
