@use '../../../styles/variables' as *;

.overlayContainer {
  width: 100%;
  background: linear-gradient(
    to top,
    $primary-color-900 0%,
    $primary-color-900 50%,
    $primary-color-100 50%,
    $primary-color-100 100%
  );

  @include tablet {
    background: linear-gradient(
      to top,
      $primary-color-900 0%,
      $primary-color-900 20%,
      $primary-color-100 20%,
      $primary-color-100 100%
    );
  }

  @include desktop {
    background: linear-gradient(
      to top,
      $primary-color-900 0%,
      $primary-color-900 25%,
      $primary-color-100 25%,
      $primary-color-100 100%
    );
  }
}

.overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  background-color: $primary-color-400;
  background-image: url('/footer/bg-pattern-call-to-action.svg');
  background-repeat: no-repeat;
  background-position: center;

  color: $primary-color-100;

  border-radius: 8px;
  margin: 0 1.5rem;
  padding: 4.5rem 1.5rem;

  @include tablet {
    margin: 0 3rem;
    border-radius: 15px;
  }

  @include desktop {
    margin: 0 9rem;
    border-radius: 15px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-bottom: 32px;
}

.title {
  color: $primary-color-100;
}
